.code-editor {
    width: 100%;
    display: flex;
    padding-top: 10px;
}

.code-editor * {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
}

.code-editor textarea {
    width: 100%;
    height: 100%;

    padding: 0;
    padding-left: 10px;
    margin: 0;
    border-style: none;
    border-color: Transparent;
}

.code-editor textarea:focus {
    outline: 0;
}

.line-number {
    width: 50px;
    text-align: left;
    padding: 0 10px;
}