.code-editor {
    width: 100%;
    display: flex;
    padding-top: 10px;
    position: relative;
}

.code-editor * {
    font-family: monospace;
    font-size: 12pt;
}
    
.code-editor textarea {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-style: none;
    border-color: Transparent;
    tab-size : 4;

}

.code-editor textarea:focus {
    outline: 0;
}

.line-number {
    width: 50px;
    text-align: left;
    user-select: none;
    padding: 0 10px;
}